<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032117142430-4nldrcgjt086r25u6bpbip8mqh5m6r5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032117142430-4nldrcgjt086r25u6bpbip8mqh5m6r5f</string>
	<key>API_KEY</key>
	<string>AIzaSyDu-JAHudLj7QtFmRrtDTcxe8YExAMLXTo</string>
	<key>GCM_SENDER_ID</key>
	<string>1032117142430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studiofirstzero.kpopmusicrank</string>
	<key>PROJECT_ID</key>
	<string>ranks-38e68</string>
	<key>STORAGE_BUCKET</key>
	<string>ranks-38e68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032117142430:ios:19fb46b5e8679d80df0c8f</string>
	<key>DATABASE_URL</key>
	<string>https://ranks-38e68.firebaseio.com</string>
</dict>
</plist>